<div>
  <div class="post">


    <div class="header">
      <h1>{{ post.title }}</h1>

      <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
      <strong>{{ post.author }}</strong>
      <small>{{ post.date | date:'medium':null }}</small>
    </div>

    <hr>
    <div name="post_text">
    </div>

    <hr>
    <div class="my_frame">
      <div class="my_internal">
        <quill-view-html [content]="post.text"></quill-view-html>
      </div>
    </div>
    <hr>


  </div>
</div>

<ng-template #loading>
  <p class="text-center">Загружаю пост...</p>
</ng-template>
